

  <div class="bg">

    <nav class="navbar navbar-expand-lg sticky-top ">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" routerLink="/etteremreg">Étterem regisztrálása <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Pricing</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
          </ul>
        </div>
      </nav>

    <form class="bejelentkezes feherszoveg">
      <h2>Bejelentkezés</h2>
      <div class="form-group">
        <label for="exampleInputEmail1" class="feherszoveg">Email cím</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1" class="feherszoveg">Jelszó</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
      </div>

      
      <a routerLink="etterem"><button type="submit" class="btn btn-primary" >Bejelentkezés</button></a>
    </form>

    <form class="bejelentkezes feherszoveg">
      <h2>Regisztráció vendégként</h2>
      <div class="form-group">
        <label for="exampleInputEmail1" class="feherszoveg">Email cím</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1" class="feherszoveg">Jelszó</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
      </div>
      <div class="form-group">
        <label  class="feherszoveg">Cím</label>
        <input type="text" class="form-control" id="exampleInputPassword1">
      </div>

      <button type="submit" class="btn btn-primary">Regisztráció</button>
    </form>

    <br><br>


  </div>
