<app-etterem-home></app-etterem-home>


<!-- nev, ar , kep , leiras , etteremid?-->

<form [formGroup]="form" (ngSubmit)="submit(form)">

  <div class="form-group">

    <label for="kategoria">Kategória</label><br>
    <select id="kategoria" formControlName="kategoria" class="form-control">
      <option></option>
      <option *ngFor="let item of categories">{{item.nev}}</option>
    </select>
    <div class="alert alert-danger" *ngIf="kategoria.touched && !kategoria.valid"> 
      <div *ngIf="kategoria.errors && kategoria.errors.required">Nem adtad meg a kategóriát.</div>           
    </div>   

      <label for="nev">Étel neve</label><br>
      <input id="nev" formControlName="nev"  type="text" class="form-control">
      <div class="alert alert-danger" *ngIf="nev.touched && !nev.valid"> 
        <div *ngIf="nev.errors && nev.errors.required">Nem adtad meg az étel nevét.</div>           
      </div>
      

      <label for="ar">Ár</label><br>
      <input id="ar" formControlName="ar"  type="number" class="form-control">
      <div class="alert alert-danger" *ngIf="ar.touched && !ar.valid"> 
        <div *ngIf="ar.errors && ar.errors.required">Nem adtad meg az árat.</div>           
      </div>

      <label for="leiras">Leírás</label>
      <p>Adj meg egy rövid leírást az ételről</p>
      <input id="leiras" formControlName="leiras"  type="text" class="form-control">
      <div class="alert alert-danger" *ngIf="leiras.touched && !leiras.valid"> 
        <div *ngIf="leiras.errors && leiras.errors.required">Nem adtad meg a leírást.</div>           
      </div>

      <label for="allergen">Allergén összetevő</label><!-- lehet újat megadni ????  KIVÁLASZTÓS ??-->
      <input id="allergen" formControlName="allergen"  type="text" class="form-control">
      
      
  </div>
<button type="button" class="btn btn-primary" [disabled]="!form.valid" (click)="submit(form)">Hozzáadás</button>
</form>






<mat-card *ngFor="let item of etelek" class="card" >
    <mat-card-header>
      <mat-card-title>{{item.name}}</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <p>{{item.price}}</p>
    </mat-card-content>
    
</mat-card>